.image-new {
  $height: 15em;

  aside {
    background: {
      attachment: fixed;
      position: 50% 50%;
      repeat: no-repeat;
      size: cover;
    }
  }

  input[type=file] {
    display: none;
  }

  label {
    border-color: #c0c0c0;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding: 2em;
  }
}

.upload-status {
  @include display(flex);
  @include flex-direction(column);
  @include flex-flow(row wrap);
  @include justify-content(space-around);

  img {
    max-width: 100px;
    max-height:100px;
  }

  .image-container {
    @include order(1);
  }

  .meta {
    @include order(2);
    @include flex-grow(1);
  }

  .progress-bar-indication {
    width: 90%;
  }
}
