.image-new {
  $height: 15em;

  input[type=file] {
    display: none;
  }

  aside {
    @include size($height);
    display: inline-block;
    overflow: hidden;

    background: {
      attachment: fixed;
      position: 50% 50%;
      repeat: no-repeat;
      size: cover;
    }
  }
}

.upload-status {
  @extend .clearfix;

  img {
    max-width: 100px;
    max-height:100px;
  }

  .image-container {
    @include size(100);
    text-align: center;

    float: left;
  }

  .meta {
    float: left;
  }
}
