.image-picker {
  @extend .grid;

  li {
    @include size(140);
    margin: 5px;
  }

  input[type=checkbox] {
    display: none;
  }

  .active {
    border: solid 3px green;
  }
}

.spot-form {
  input[type=submit] {
    width: 100%;
  }
}
