footer {
  @include size(100% auto);
  position: fixed;

  background-color: $base-panel-color;
  bottom: 0;
  font-size: $base-font-size * 2;
  text-align: center;
  vertical-align: middle;
  z-index: 9;
}

nav {
  @include display(flex);
  padding: 0.25rem;

  a {
    @include flex(1);
    margin: 0.25rem;
  }
}
