.spot {
  @include size(300);
  position: relative;
  text-align: center;

  address,
  .name {
    position: absolute;
    color: #fff;
    background-color: rgba(0,0,0, 0.35);
    z-index: 1;
  }

  address {
    margin-right: 1.5em;

    right: 0;
    top: 0;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  .name {
    margin: 1em;

    bottom: 0;
    left: 0;
    right: 0;
  }
}
