<section class="spot-new">
  <label>
    <aside {{bind-attr class=orientation style=style}}></aside>
    {{input type="file" name=file}}
  </label>

  <address>
    Latitude: {{latitude}}
    Longitude: {{longitude}}
  </address>
</section>
