<section class="image-new">
  {{#if images.length}}
    <h1>{{images.length}} created!</h1>
  {{/if}}

  <label>
    Pick an image
    {{image-upload uploads=uploads action="imageUploaded"}}
  </label>

  <ul class="uploads">
  {{#each uploads}}
    {{render "upload-status" this}}
  {{/each}}
  </ul>
</section>
