<section class="image-new">
  <label>
    Upload Your Spots
    {{image-upload uploads=uploads action="imageUploaded" accept="image/*"}}
  </label>

  <ul class="uploads">
  {{#each uploads}}
    {{render "upload-status" this}}
  {{/each}}
  </ul>
</section>
