<section class="image-new">
  <label for="upload">Pick a Photo</label>
  {{image-upload id="upload" uploads=uploads action="imageUploaded" accept="image/*"}}

  <ul class="uploads">
  {{#each upload in uploads}}
    {{upload-status content=upload}}
  {{/each}}
  </ul>
</section>
