<section class="image-new">
  <label>
    <aside {{bind-attr class=orientation style=style}}></aside>

    {{image-upload model=model}}
  </label>

  <address>
    Latitude: {{location.latitude}}
    Longitude: {{location.longitude}}
  </address>
</section>
