<h1>With Location</h1>

{{#each withLocation}}
  {{render "image-item" this}}
  {{#link-to 'spot.new'}}Create Spot{{/link-to}}
{{else}}
  <p>You don't have any images</p>
  {{#link-to 'image.new'}}Click Here to share some{{/link-to}}
{{/each}}

<h1>Without Location</h1>

{{#each withoutLocation}}
  {{render "image-item" this}}
{{/each}}
