<h1>With Location</h1>

{{#each withLocation}}
  {{render "image-item" this}}
  {{#link-to 'image.share' id}}Create Spot{{/link-to}}
{{/each}}

<h1>Without Location</h1>

{{#each withoutLocation}}
  {{render "image-item" this}}
{{/each}}
