{{#link-to 'spot' this}}
  <h1 data-role="name">{{name}}</h1>
{{/link-to}}

{{#if distance}}
<address>{{toFixed distance 1}} miles away</address>
{{/if}}

<ul>
  {{#each images}}
    <img data-role="image" {{bind-attr alt=name src=largeOrOriginal}}>
  {{/each}}
</ul>
