<section class="spots">
  <ul>
    {{#each}}
      <li class="spot">
        <h1 data-role="name">{{name}}</h1>
        <img data-role="image" {{bind-attr alt=name src=image}}>
      </li>
    {{/each}}
  </ul>
</section>
