<img {{bind-attr src=original}} alt="spot">

{{#each errors.url}}
  <span class="error">{{message}}</span>
{{/each}}

{{#if isNew}}
  <div class="progress-bar-indication">
    <span class="meter" {{bind-attr style=barWidth}}>
      <p>{{toFixed progress 0}}%</p>
    </span>
  </div>
{{/if}}
